* {
  margin: 0;
  padding: 0;
}
html,
body {
  font: 14px "돋움", Dotum, sans-serif;
  color: #000;
}
.box {
  width: 200px;
  height: 200px;
  border: 3px solid red;
  margin: 100px;

  transform: perspective(400px) rotatey(45deg);
}
.box div {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 200, 0, 0.5);
  transform: rotateZ(0deg);
  transition-duration: 0.3s;
  transform-origin: right bottom;
}
.box:hover div {
  transform: rotateZ(60deg);
}
